<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cashix">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".kotlin.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crepaid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UI.Splash"
            android:exported="true"
            android:theme="@style/Theme.Crepaid.Splash">

        </activity>
        <activity
            android:name=".kotlin.UI.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Transactions"
            android:exported="false" />

        <activity
            android:name=".UI.BankDetails"
            android:exported="false" />

        <activity
            android:name=".kotlin.UI.SignInActivity"
            android:exported="true" />

        <activity
            android:name=".UI.no_internet"
            android:exported="true" />
        <activity
            android:name=".payment.CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".payment.cardActivity"
            android:exported="true" />
        <activity
            android:name=".UI.add_bank_details"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- <meta-data -->
        <!-- android:name="com.razorpay.ApiKey" -->
        <!-- android:value="rzp_live_ILgsfZCZoFIKMb" -->
        <!-- /> -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_xSvinNsyqi4FYa" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

    </application>
    <queries>
        <package android:name="net.one97.paytm" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

</manifest>